Repository HajimeKawahara/exojax, pull requests merged in 2024-09, with the labels that each got.

#521 Bug fix introduced by #515 (qr was not normalized by Tref, but Tref_original)
  src/exojax/spec/api.py
  src/exojax/spec/opacalc.py
  tests/integration/premodit/line_strength_comparison_exomol.py
  tests/integration/premodit/line_strength_comparison_exomol_water.py
  tests/integration/premodit/line_strength_comparison_hitemp.py
  tests/integration/premodit_lpf/CH4_Gascellmodel_2408rev_test.py
  tests/integration/premodit_lpf/README.md
  tests/integration/premodit_lpf/Trans_model_1Voigt_HITEMP_nu_2408rev_test.py
Labels: bug

#523 Unittest for PreModit and bugfix in optgrid.py
  src/exojax/spec/optgrid.py
  tests/integration/unittests_long/premodit/optgrid_test.py
  tests/unittests/spec/premodit/lbderror_test.py
  tests/unittests/spec/premodit/optgrid_fast_test.py
Labels: bug, unittest

#524 Unittest for opa xsvector
  tests/integration/unittests_long/premodit/premodit_xsection_test.py
  tests/unittests/spec/premodit/opa_xsvector_test.py
Labels: unittest

#525 Unittest ArtEmisPure
  src/exojax/data/testdata/lpf_rt_test_hitemp_ref.txt
  src/exojax/data/testdata/lpf_rt_test_ref.txt
  src/exojax/data/testdata/modit_rt_test_hitemp_ref.txt
  src/exojax/data/testdata/modit_rt_test_ref.txt
  src/exojax/spec/atmrt.py
  src/exojax/test/generate_rt.py
  tests/unittests/spec/atmrt/emispure_test.py
Labels: unittest

#526 minor change of the AM clouds for real Jupiter reflection spectrum fitting
  documents/tutorials/Jupiter_Hires_Modeling_NIR_fitting_clouds.py
  documents/tutorials/jupiters/Jupiter_Hires_Modeling_NIR_fitting_clouds.py
  documents/tutorials/jupiters/cloud_sigmag_range.ipynb
  documents/tutorials/jupiters/jupiter_corrected.dat
  documents/tutorials/jupiters/miegrid_generate.py
  documents/tutorials/jupiters/plotjupiter.py
  documents/tutorials/jupiters/postprocess.py
  src/exojax/atm/amclouds.py
  src/exojax/atm/atmphys.py
  src/exojax/spec/atmrt.py
  tests/unittests/atm/am01_test.py
Labels: enhancement

#529 HDO #528 but it does not change the code
  src/exojax/utils/molname.py
Labels: maintenance

#532 we still need radis develop version until merging radis#691 into master
  setup.py
Labels: common API compatibility, maintenance

#533 Pressure unittest
  .github/workflows/main.yml
  tests/unittests/atm/layer_test.py
Labels: unittest

#534 Test for layers
  src/exojax/spec/molinfo.py
  src/exojax/utils/constants.py
  tests/unittests/constants/const_test.py
  tests/unittests/spec/api/molinfo_test.py
Labels: unittest

#535 Critical bug in zsol.nsol
  src/exojax/spec/molinfo.py
  src/exojax/utils/zsol.py
  tests/unittests/atm/cloud_base_test.py
  tests/unittests/atom/loadatom_test.py
  tests/unittests/utils/zsol_test.py
Labels: bug

#536 More improvments on Jupiter reflection spectrum analysis
  MANIFEST.in
  documents/tutorials/jupiters/Jupiter_Hires_Modeling_NIR_fitting_clouds.py
  documents/tutorials/jupiters/loaddata.py
  documents/tutorials/jupiters/model_abs.py
  documents/tutorials/jupiters/model_reflect.py
  documents/tutorials/jupiters/plotjupiter.py
  documents/tutorials/jupiters/postprocess.py
  src/exojax/atm/amclouds.py
  src/exojax/atm/atmconvert.py
  src/exojax/atm/atmphys.py
  src/exojax/atm/atmprof.py
  src/exojax/data/abundance/xspec_abundance.txt
  src/exojax/spec/atmrt.py
  src/exojax/utils/indexing.py
  src/exojax/utils/zsol.py
  tests/integration/moldb/mdbexomol_test.py
  tests/unittests/atm/am01_test.py
  tests/unittests/atm/cloud_base_test.py
  tests/unittests/atm/smooth_index_test.py
  tests/unittests/spec/atmrt/artabs_test.py
  tests/unittests/utils/indexing_test.py
  tests/unittests/utils/zsol_test.py
Labels: enhancement

#538 updated the petitRADTRANS comparison codes due to the update of petit…
  tests/integration/comparison/twostream/comparison_petitRADTRANS_CIA.py
  tests/integration/comparison/twostream/comparison_petitRADTRANS_narrow_R70000.py
  tests/integration/comparison/twostream/comparison_petitRADTRANS_wide_R7000.py
Labels: comparison
